@charset "UTF-8";

@font-face {
  font-family: "fontviki";
  src:url("fonts/fontviki.eot");
  src:url("fonts/fontviki.eot?#iefix") format("embedded-opentype"),
    url("fonts/fontviki.woff") format("woff"),
    url("fonts/fontviki.ttf") format("truetype"),
    url("fonts/fontviki.svg#fontviki") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fontviki" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontviki" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\62";
}
.icon-setting:before {
  content: "\63";
}
.icon-dashboard:before {
  content: "\64";
}
.icon-shutdown:before {
  content: "\65";
}
.icon-plus:before {
  content: "\66";
}
.icon-airplane:before {
  content: "\67";
}
.icon-hotel:before {
  content: "\68";
}
.icon-close:before {
  content: "\69";
}
.icon-minus:before {
  content: "\6a";
}
.icon-reload:before {
  content: "\6b";
}
.icon-train:before {
  content: "\6c";
}
.icon-smiling:before {
  content: "\6d";
}
.icon-bookmark:before {
  content: "\6e";
}
.icon-check:before {
  content: "\6f";
}
.icon-eight:before {
  content: "\70";
}
.icon-five:before {
  content: "\71";
}
.icon-four:before {
  content: "\72";
}
.icon-nine:before {
  content: "\73";
}
.icon-one:before {
  content: "\74";
}
.icon-seven:before {
  content: "\75";
}
.icon-six:before {
  content: "\76";
}
.icon-three:before {
  content: "\77";
}
.icon-two:before {
  content: "\78";
}
.icon-zero:before {
  content: "\79";
}
.icon-calendar:before {
  content: "\7a";
}
.icon-cloudy-night:before {
  content: "\41";
}
.icon-double-king-size-bed:before {
  content: "\42";
}
.icon-icon:before {
  content: "\43";
}
.icon-human:before {
  content: "\45";
}
.icon-smartphone:before {
  content: "\46";
}
.icon-bag:before {
  content: "\47";
}
.icon-24-hours:before {
  content: "\44";
}
.icon-air-conditioner:before {
  content: "\48";
}
.icon-dinner:before {
  content: "\49";
}
.icon-document:before {
  content: "\4a";
}
.icon-elevator:before {
  content: "\4b";
}
.icon-mail:before {
  content: "\4c";
}
.icon-facebook:before {
  content: "\4d";
}
.icon-google-plus:before {
  content: "\4e";
}
.icon-human-group:before {
  content: "\4f";
}
.icon-id-card:before {
  content: "\50";
}
.icon-location:before {
  content: "\52";
}
.icon-parking:before {
  content: "\53";
}
.icon-skype-logo:before {
  content: "\54";
}
.icon-swimming-pool:before {
  content: "\55";
}
.icon-tickets:before {
  content: "\56";
}
.icon-wifi1:before {
  content: "\58";
}
.icon-angle-right:before {
  content: "\59";
}
.icon-angle-up:before {
  content: "\5a";
}
.icon-angle-left:before {
  content: "\30";
}
.icon-angle-down:before {
  content: "\31";
}
.icon-long-arrow-down:before {
  content: "\32";
}
.icon-long-arrow-left:before {
  content: "\33";
}
.icon-long-arrow-right:before {
  content: "\34";
}
.icon-long-arrow-up:before {
  content: "\35";
}
.icon-android-arrow-forward:before {
  content: "\36";
}
.icon-android-arrow-up:before {
  content: "\37";
}
.icon-android-arrow-back:before {
  content: "\38";
}
.icon-android-arrow-down:before {
  content: "\39";
}
.icon-updown:before {
  content: "\21";
}
.icon-transfer:before {
  content: "\22";
}
.icon-caution-sign:before {
  content: "\23";
}
.icon-envelope:before {
  content: "\24";
}
.icon-linkedin:before {
  content: "\25";
}
.icon-twitter:before {
  content: "\26";
}
.icon-men:before {
  content: "\51";
}
.icon-sortupdown1:before {
  content: "\57";
}
.icon-sortupdown2:before {
  content: "\27";
}
.icon-takeoff-plane:before {
  content: "\28";
}
.icon-landing-plane:before {
  content: "\29";
}
.icon-airplane-2:before {
  content: "\2a";
}
.icon-switch1:before {
  content: "\2b";
}
.icon-oval:before {
  content: "\2c";
}
.icon-up:before {
  content: "\2d";
}
.icon-savings:before {
  content: "\2e";
}
.icon-travel:before {
  content: "\2f";
}
.icon-cash:before {
  content: "\3a";
}
.icon-coins:before {
  content: "\3b";
}
.icon-user:before {
  content: "\3c";
}
.icon-attraction:before {
  content: "\3d";
}
.icon-map:before {
  content: "\3e";
}
.icon-cart:before {
  content: "\3f";
}
.icon-city:before {
  content: "\40";
}
.icon-company:before {
  content: "\5b";
}
.icon-email:before {
  content: "\5d";
}
.icon-first-name:before {
  content: "\5e";
}
.icon-finished:before {
  content: "\5f";
}
.icon-pay:before {
  content: "\60";
}
.icon-last-name:before {
  content: "\7b";
}
.icon-zip:before {
  content: "\7c";
}
.icon-ic-person:before {
  content: "\7d";
}
.icon-ic-telp:before {
  content: "\7e";
}
.icon-access:before {
  content: "\5c";
}
.icon-arema:before {
  content: "\e000";
}
.icon-monitoring:before {
  content: "\e001";
}
.icon-status:before {
  content: "\e002";
}
.icon-access-1:before {
  content: "\e003";
}
.icon-compute:before {
  content: "\e004";
}
.icon-home:before {
  content: "\e005";
}
.icon-services:before {
  content: "\e006";
}
.icon-support:before {
  content: "\e007";
}
.icon-configuration:before {
  content: "\e008";
}
.icon-cpu:before {
  content: "\e009";
}
.icon-disk:before {
  content: "\e00a";
}
.icon-filter:before {
  content: "\e00b";
}
.icon-inf-project:before {
  content: "\e00c";
}
.icon-memory:before {
  content: "\e00d";
}
.icon-headseat:before {
  content: "\61";
}
.icon-check-1:before {
  content: "\e00e";
}
.icon-close-2:before {
  content: "\e00f";
}
